$bauman-blue-1: #E1EFFB;
$bauman-blue-2: #8CC5F4;
$bauman-blue-3: #2499EC;
$bauman-blue-4: #006CDC;
$bauman-blue-5: #004E9F;
$bauman-blue-6: #002C5B;

.bg-bauman-1{
    background-color: $bauman-blue-1;
}
.bg-bauman-2{
    background-color: $bauman-blue-2;
}
.bg-bauman-3{
    background-color: $bauman-blue-3;
}
.bg-bauman-4{
    background-color: $bauman-blue-4;
}
.bg-bauman-5{
    background-color: $bauman-blue-5;
}
.bg-bauman-6{
    background-color: $bauman-blue-6;
}

.text-bauman-1{
    color: $bauman-blue-1;
}
.text-bauman-2{
    color: $bauman-blue-2;
}
.text-bauman-3{
    color: $bauman-blue-3;
}
.text-bauman-4{
    color: $bauman-blue-4;
}
.text-bauman-5{
    color: $bauman-blue-5;
}
.text-bauman-6{
    color: $bauman-blue-6;
}